/* Custom CSS class for spacing between links */
.link-spacing {
  margin-right: 100px; /* Adjust this value to control the spacing */
}
/**/

/* UserTable.css */
.embossed-table {
  border-collapse: separate;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow here */
}

.embossed-table th,
.embossed-table td {
  border: 1px solid #ddd; /* Add borders for cells */
  padding: 8px;
  text-align: left;
}

/* Add hover effect for rows */
.embossed-table {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as needed */
}

.gray-border-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gray-border-table th,
.gray-border-table td {
  border: 1px solid #ccc; /* Adjust the color as needed */
  padding: 8px; /* Adjust the padding as needed */
}
