.brand-img {
  max-width: 100px; 
  display: flex; 
  max-height: 100px;
  align-items: center; 
   
}

.brand-image {
  margin-right: 70px; 
}

.brand-images {
  display: flex;
  align-items: center; 
  margin-bottom: -10px;
  
}