.font {
	font-size: 15px !important;
}

.card-title {
  margin-bottom: 0.5rem; 
}

.card-text {
  margin-top: 0.5rem; 
}



.cardHighlight h6 {
  margin: 0; 
}

.cardHighlight .text-secondary {
  margin-top: 15px; 
}


.cardHighlight {
  max-height: 100px; 
  height: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}