/* .navbar */
.navbar {
  height: 80px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

/* .navbar .wrapper */
.navbar .wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .navbar .wrapper .search */
.navbar .wrapper .search {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  padding: 3px;
}

/* .navbar .wrapper .search input */
.navbar .wrapper .search input {
  border: none;
  outline: none;
  background: transparent;
}

/* .navbar .wrapper .search input::placeholder */
.navbar .wrapper .search input::placeholder {
  font-size: 12px;
}

/* .navbar .wrapper .items */
.navbar .wrapper .items {
  display: flex;
  align-items: center;
}

/* .navbar .wrapper .items .item */
.navbar .wrapper .items .item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

/* .navbar .wrapper .items .item .icon */
.navbar .wrapper .items .item .icon {
  font-size: 20px;
}

/* .navbar .wrapper .items .item .avatar */
.navbar .wrapper .items .item .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* .navbar .wrapper .items .item .counter */
.navbar .wrapper .items .item .counter {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
}


/* Add this to your CSS file */
.nav-link {
  text-decoration: none;
  margin-right: 20px; /* Adjust as needed */
  /* OR */
  /* padding-right: 10px; Adjust as needed */
}

/* Define the spacing */
.space {
  width: 20px; /* Adjust as needed */
  display: inline-block;
}