/* newProduct.css */

.newProduct {
  margin-top: 20px;
}

.pb-3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.addProductItem {
  margin-bottom: 15px;
}

.addProductItem label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.addProductItem input[type="text"],
.addProductItem input[type="file"],
.addProductItem input[type="number"],
.addProductItem textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addProductButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addProductButton:hover {
  background-color: #0056b3;
}
