Codeshare logo
 ShareSign UpLog In
296
                      <label for="contact" class="mt-3">Contact Number</label>
297
                      <input type="number" id="contact" name="contact"  placeholder="+63 900 000 0000" class="rounded mt-2 p-1 form-control"> 
298
                    </div>
299
                  </div>
300
                                
301
                  <!-- Concern -->
302
                  <div class="form-row">
303
                    <div class="form-group col-11 mx-auto">
304
                      <label for="concern-type" class="mt-3">Concern</label>
305
                      <select name="concern-type" id="concern-type" class="rounded mt-2 p-1 form-control">
306
                        <option value="quotation">Quotation</option>
307
                        <option value="inquiry">Inquiry</option>
308
                        <option value="invoice">Invoice</option>
309
                      </select> 
310
                    </div>
311
                  </div>
312
                                
313
                  <!-- Message -->
314
                  <div class="form-row">
315
                    <div class="form-group col-11 mx-auto">
316
                       <label for="message" class="mt-3">Message</label>
317
                        <textarea id="message" name="message" rows="5" class="rounded mt-2 p-1 form-control"></textarea>  
318
                    </div>
319
                  </div>
320
                    
321
                  <!-- Send Email Button -->
322
                  <div class="form-row">
323
                    <div class="mx-auto">
324
                      <button type="button" class="btn btn-dark btn-sm text-white mb-3 p-1" data-toggle="modal" data-target="#modalDiv">Send Email</button>
325
                      
326
                      <!-- Modal -->
327
                      <div class="modal fade text-dark" id="modalDiv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
328
                          <div class="modal-dialog">
329
                            <div class="modal-content">
330
                                <div class="modal-header">
331
                                  <h5 class="modal-title" id="exampleModalLabel">Thank you for contacting us!</h5>
332
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
333
                                  <span aria-hidden="true">&times;</span></button>
334
                              </div>
335
                          
336
                            <div class="modal-body">
337
                              Message Successfully Sent
338
                            </div>
339
                                
340
                                <div class="modal-footer">
341
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
342
                              </div>
343
                          </div>
344
                        </div>
345
                      </div>
346
​
347
                      </div>
348
​
349
                  </div>
350
                </form>   
351
​
352
              </div>
353
            </div>
354
          </div>
355
          <!-- Contact Me Section End -->     
356
        </div>
357
      <!-- Side Content Section End -->
358
  
359
    </div>


JOBS


Hide Ads

