.carousel-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  scroll-behavior: smooth;
}

.card-title {
  height: 120px;
  width: 230px;
  overflow: hidden;
}

.product-card {
  flex: 0 0 200px;
  margin-right: 10px;
  scroll-snap-align: start;
  position: relative;
  transition: transform 0.2s;
  animation: scroll 10s;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translateX(-300px);}


}


.pill-box {
  background-color: black;
  padding: 5px 10px;
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  top: -4px;
  right: -1px;
  width: 80px;
  height: 30px;
}

.pill-text {
  color: white;
  font-size: 12px;
}

.clickable-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 120px;
  height: 40px;
  margin-right: 10px;
}


.price-text {
  font-weight: bold;
  font-size: 15px;
}


.add-to-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.product-card a,
.product-info .add-to-cart-button {
  text-decoration: none;
}


.add-to-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.product-card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 49%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5) to your preference */
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 1;
}

.product-card:hover {
  transform: scale(0.95); /* Add a scaling effect on hover if desired */
}


    