.product-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.custom-card {
  flex: 0 0 200px;
  margin-right: 10px;
  scroll-snap-align: start;
  position: relative;
  transition: transform 0.2s;
}

.custom-pill-box {
  background-color: black;
  padding: 5px 10px;
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  top: -4px;
  right: -1px;
  width: 80px;
  height: 30px;
}

.custom-pill-text {
  color: white;
  font-size: 12px;
}

.custom-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 120px;
  height: 40px;
  margin-right: 10px;
}

.custom-price-text {
  font-weight: bold;
  font-size: 15px;
}

.custom-add-to-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-product-info a,
.custom-product-info .custom-add-to-cart-button {
  text-decoration: none;
}

.custom-product-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 49%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 1;
}

.custom-product-card:hover {
  transform: scale(0.95);
}
