.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;

  
}
.top {
/*    height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
}

.top .logo1 {
  width: 48px; 
  height: 45px; 
    margin-left: 10px;

}

.top .logo2 {
  width: 160px; 
  height: 50px; 
    margin-left: 10px;

}

.logo {
      font-size: 30px;
      font-weight: bold;
      color: #003366;
}



  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }



    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

      .title {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        font-size: 15px;
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
      }

        li:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 25px !important;
          color: #003366;
        }

        span{
            font-size: 16px;
            font-weight: 600;
            color: #002147;
            margin-left: 10px;
        }
        .text {
          font-size: 18px;
        padding-top: 18px;
/*          color: #003366;*/
        }



  .bottom{
      display: flex;
      align-items: center;
      margin: 10px;
    }

      .colorOption{
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 1px solid #7451f8;
          cursor: pointer;
          margin: 5px;
        }
/*
          .bottom > nth-child(1){
              background-color: whitesmoke;
          }
          &:nth-child(2){
              background-color: #333;
          }
          &:nth-child(3){
              background-color: darkblue;
          }*/
     