/* CSS for the modal container */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 9999;
}
/* Add this to your CSS file or style block */
/*.custom-card-body {
  height: 500px;
  width:80%; 
}*/

@media (max-width: 575.98px) {
  .custom-card-body {
    height: auto;
    width:100%; 
  }
}

/* Adjust the icon size for small screens */
@media (min-width: 576px) {
  .custom-card-body {
    height: auto;
    width:100%; 
  }

}

/* Adjust the icon size for medium screens */
@media (min-width: 768px) {
  .custom-card-body {
    height: 500px;
    width: 100%; 
  }

}

/*@media (min-width: 840px) {
  .custom-card-body {
    height: 500px;
    width:100%; 
  }
}
*/


/* Adjust the icon size for large screens */
@media (min-width: 992px) {
  .custom-card-body {
    height: 500px;
    width:80%; 
  }
}

/* Adjust the icon size for extra large screens */
@media (min-width: 1200px) {
  .custom-card-body {
    height: 600px;
    width:80%; 
  }
}


.embossed {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
  background-color: white; 
  padding: 20px; }


.modal-bg {
  background-color: rgba(0, 0, 0, 0.7); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}