*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*global setting row, screen*/
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media (max-width:767px) {
  .cart-items .container>.row {
    flex-wrap: wrap-reverse !important;
  }
}


/*Icons in Highlights*/
/* Adjust the icon size for extra small screens */
@media (max-width: 575.98px) {
  .icon-dashboard {
    font-size: 4em; 
  }
}

/* Adjust the icon size for small screens */
@media (min-width: 576px) {
  .icon-dashboard {
    font-size: 3.3em; 
  }

}

/* Adjust the icon size for medium screens */
@media (min-width: 768px) {
  .icon-dashboard {
    font-size: 2.2em; 
  }

  .icon-cash-medium {
    font-size: 4.5em; 
  }

}

@media (min-width: 840px) {
  .icon-dashboard {
    font-size: 2.8em; 
  }

}


/* Adjust the icon size for large screens */
@media (min-width: 992px) {
  .icon-dashboard {
    font-size: 2.2em;
  }
}

/* Adjust the icon size for extra large screens */
@media (min-width: 1200px) {
  .icon-dashboard {
    font-size: 45px;
  }
}





.cardHighlight{
  min-height: 100%;
}


.admin-container {
  display: flex;
}

.admin-sidebar {
  width: 250px; /* Adjust the width as needed */
background-color: #333;  /*Sidebar background color */
 color: white; /* Sidebar text color */
 padding: 20px; /* Add some padding for spacing */
}

.admin-content {
  flex: 1; /* Allow the content to expand and fill the remaining space */
padding: 20px; /* Add some padding for spacing */
}

#card-admin-values{
  font-size: 25px;
}

#daily-revenue-values{
  font-size: 29px;
}

/* Add this CSS to your stylesheet or style section */
.icon-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-item .me-2 {
  margin-right: 20px; /* Adjust the margin as needed for spacing */
}


/* For the User Cards */

/* Style for the UserView container */
.UserView {
  padding: 20px;
}

/* Style for the UserCard */
.UserCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style for the UserCard image */
.UserCard img {
  max-width: 100%;
  height: auto;
}

/* Style for the UserCard title */
.UserCard .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for the UserCard subtitle and text */
.UserCard .card-subtitle,
.UserCard .card-text {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

/* Style for the "Details" button */
.UserCard .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

/* Style for the "Details" button on hover */
.UserCard .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* UserTable.css */
.embossed-table {
  border-collapse: separate;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow here */
}

.embossed-table th,
.embossed-table td {
  border: 1px solid #ddd; /* Add borders for cells */
  padding: 8px;
  text-align: left;
}

/* Add hover effect for rows */
.embossed-table tbody tr:hover {
  background-color: #f5f5f5;
}



/*  USER DASHBOARD AND PAGES */

/* CSS for Home.js */
.height {
  width: 100%;
}


/* CSS for Category Sidebar */

.category-sidebar {
  width: 100%; 
  background-color: #fff; 
  padding: 0px 2px;
  }

.category-sidebar-content {
  padding-right: 0em; 
}

.category-list {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.category-item {
  display: block;
  text-decoration: none; 
  color: #333; 
  padding: 5px 10px;
  margin: 0;
  transition: background-color 0.2s; /* Smooth background color transition */
}

li:hover {
  background-color: #eee; /* Change background color on hover */
}

.category-icon {
  margin-right: 10px;
  font-size: 1.5em;
}

/*Carousel Image*/
.carousel-caption {
    text-align: right !important;
}

.carousel-image {
  height: 25vh; 
  width: 100%; 
}



.carousel-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease-in-out;
}


/* Featured Products CSS */
div > p > a {
  text-decoration: none; 
}


/* Footer CSS */
.link {
  text-decoration: none; 
  color: white;
}

.link:hover, .link:focus {
  color: orange;
  transition: color 0.5s ease-in-out;
  
}

span {
  font-size: 0.8em;
}


/* Brands CSS */
.brands-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
  width: 100%;
  position: relative;
}

.brand-images {
  display: flex;
  animation: scrollBrands 20s linear infinite;
}

.brand-image {
  margin-right: 20px; 
  transition: transform 0.5s, filter 0.5s;
}

.brand-image:last-child {
  margin-right: 0; 
}

.brand-img {
  max-width: 100%;
  height: auto;
  transition: transform 0.5s, filter 0.5s;
}

@keyframes scrollBrands {
  0% {
    transform: translateX(100%);
    filter: grayscale(100%);
    transform: scale(1);
  }
  50% {
    transform: translateX(0);
    filter: grayscale(0%);
    transform: scale(1.2);
  }
  100% {
    transform: translateX(-100%);
    filter: grayscale(100%);
    transform: scale(1);
  }
}




/* Product CSS */
.product img {
    width: 100%;
    height: 200px !important;
    object-fit: contain;
    cursor: pointer;
}

.discount {
    position: absolute;
    top: 0;
    left: 0;
    background: #0f3460;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
}

.product {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
}

.product h3 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.product .rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}

.product .price {
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: black;
}

.price h4 {
    margin: 20px 0 10px;
}

.price button {
    background: none;
    color: #0f3460;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid rgb(3 0 71 / 9%);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.price button:hover {
    cursor: pointer;
    background-color: #0f3460;
    color: #fff;
}

button.add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
}

.product-like {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: 0.5s;
}

.product-like label {
    background-color: #0f3460;
    padding: 1px 10px;
    font-size: 12px;
    color: white;
    border-radius: 50px;
}

.product-like ion-icon {
    font-size: 20px;
    margin: 10px 3px;
    cursor: pointer;
}

.product:hover .product-like {
    opacity: 1;
}



/* Cart CSS */
.cart-items {
  border-radius: 10px;
  height: auto;
  width: 100%;
  border: 2px solid #f5f5f5; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.cart-items .cart-total {
  background-color: white;
  padding: 20px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.cart-list {
  position: relative;
  background: white;
  margin-bottom: 30px;
  padding: 20px;
}

.cart-list .image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: contain;
}


.cart-items .cart-content {
  align-items: flex-end;
}

.cart-items .cart-details h3 {
  font-size: 20px;
  font-weight: 500;
  width: fit-content;
  text-align: center;
  margin-top: 20px;
}

.cart-items .cart-details h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  color: grey;
  width: fit-content;
}

.cart-items h4 span {
  color: #0f3460;
  margin-left: 20px;
  font-weight: 500;
}

.removeCart {
  background: none;
  font-size: 25px;
}

.cartControl {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 0 !important;
  margin: 20px 0 0;
}

.cartControl button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
}

.incCart {
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
  color: #0f3460;
}

.desCart {
  background: #f6f9fc;
}

.cart-total h4 {
  font-size: 15px;
  font-weight: 400;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 500;
  color: #0f3460;
}

.cart-total h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #0f3460;
}

.no-items {
  color: #0f3460;
  font-size: 18px;
  margin-top: 30px;
  height: 130px;
}

button.delete {
  position: absolute;
  right: 0;
  top: 20px;
  width: max-content;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}

button.delete ion-icon {
  font-size: 30px;
}

@media (max-width:575px) {
  .cart-content .cart-details h3 {
    margin: 10px auto;
  }

  .cart-content .cart-details h4 {
    margin: 10px auto;
  }
}


/* Admin Dashboard */
/*.revenue {
  height: 87.5px;
}*/