/* Custom CSS for SingleProductDetails */

/* Style the heart (wishlist) button */
.fa-heart {
  color: red;
}

/* Style the social media icons */
.social-icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.social-icon {
  font-size: 24px;
  margin-right: 10px;
}

/* Space between the social media icons and the description */
.social-icons + p {
  margin-top: 10px;
}


.product-quantity{
  max-width: 15em;
}

#button-Row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#product-category{
  font-size: 15px !important;
}


.button-container{
  width: 25%;
}

.stock {
  font-size: 18px;
}




.quantity-button input {
  font-size: 15px;
  width: 100px; /* Adjust the width as needed */
  
 
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-button button {
  font-size: 23px;
  border: none; /* Change border-style to border */
  padding: 0;
  margin: 0;
}